<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Feedback</title>
  <link rel="icon" type="image/x-icon" href="img/favicon-32x32.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/f5c7d6a886.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5"><a class="navbar-brand" href="/" id="name">FlickFusion</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div
      class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownWatch" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Watch</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownWatch">
            <li><a class="dropdown-item" href="#">Movies</a></li>
            <li><a class="dropdown-item" href="#">Series</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Videos</a></li>
            <li><a class="dropdown-item" href="#">Memes</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link active" href="/feedback">Feedback</a></li>
      </ul>

      <div class="dropdown">
        <form class="d-flex">
          <button class="btn btn-outline-dark" type="button" id="accountDropdownBtn">
            <i class="fa-solid fa-user"></i> Account
          </button>
        </form>
        <ul class="dropdown-menu" id="accountDropdownMenu">
          <li><a class="dropdown-item" href="#">My Content</a></li>
          <li><a class="dropdown-item" href="#">Add Content</a></li>
          <li><a class="dropdown-item" href="#">Liked</a></li>
          <li><a class="dropdown-item" href="#">Bookmarks</a></li>
          <li><a class="dropdown-item" href="#">Edit Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Log Out</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<!-- Header -->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="200">Your feedback is important for us!</h1>
      <p class="lead fw-normal text-50 mb-0" data-aos="zoom-in-up" data-aos-duration="900" data-aos-delay="200">Thank you</p>
    </div>
  </div>
</header>

<!-- Video Section -->
<section class="py-5">
  <div class="container">
    <h2 class="pb-4">Feedback Form</h2>
    <form>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control mb-4" id="inputEmail" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="inputFeedback">Feedback</label>
        <textarea class="form-control mb-4" id="inputFeedback" rows="5" placeholder="Provide your feedback"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-dark">Submit Feedback</button>
    </form>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; FlickFusion 2023</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>

</html>
