<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homepage</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/f5c7d6a886.js" crossorigin="anonymous"></script>
    <style>
        .phub {
            background-color: darkorange;
            color: black;
        }
    </style>
    <script>
        function addCard() {
            let container = document.getElementById("cardContainer");
            let row = container.getElementsByClassName("row");

            for (let i = 0; i < row.length; i += 3) {
                let newCol = document.createElement("div");
                newCol.className = "col-md-4";

                for (let j = 0; j < 3 && i + j < row.length; j++) {
                    container.appendChild("br")
                    container.appendChild("br")
                    container.appendChild("br")

                    newCol.appendChild(row[i + j]);
                }
                container.appendChild(newCol);

                if (i + 3 < row.length) {
                    let lineBreak = document.createElement("br");
                    container.appendChild(lineBreak);
                    container.appendChild(lineBreak);
                }
            }
        }
    </script>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5"><a class="navbar-brand" href="#!">VidSt</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">View</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Edit</a></li>
                        <li><a class="dropdown-item" href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex"><button class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-user"></i> Account</button></form>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Watch with <span class="phub">pleasure</span></h1>
            <p class="lead fw-normal text-50 mb-0">In this Comfortable Space</p>
        </div>
    </div>
</header>

<!-- Video Section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                    <div class="card-body p-4">
                        <div>
                            <h5 class="fw-bolder">Jujutsu Kaisen S1EP2</h5>
                            <h6>megaTerminator228</h6>
                            <p class="text-end mb-0">2 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                    <div class="card-body p-4">
                        <div>
                            <h5 class="fw-bolder">Interstellar</h5>
                            <h6>moviePirate1337</h6>
                            <p class="text-end mb-0">5 days ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                    <div class="card-body p-4">
                        <div>
                            <h5 class="fw-bolder">Markiplier on VidSt???</h5>
                            <h6>Markiplier</h6>
                            <p class="text-end mb-0">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                    <div class="card-body p-4">
                        <div>
                            <h5 class="fw-bolder">TOP 50 ANIME</h5>
                            <h6>ANIMELOVER</h6>
                            <p class="text-end mb-0">1 day ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Video Hosting 2023</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
</body>

</html>
