<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sign Up</title>
  <link rel="icon" type="image/x-icon" href="img/favicon-32x32.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/f5c7d6a886.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
  <link href="css/register.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container" data-aos="fade-down" data-aos-duration="900" data-aos-delay="200">
  <div class="form-box">
    <form action="" name="formFiller" onsubmit="return validation()">
      <h2>Registration</h2>
      <p id="result"></p>
      <div class="input-box">
        <label>
          <i class="fa-solid fa-user"></i>
          <input type="text" name="Username" id="Username" placeholder="Username">
        </label>
      </div>
      <div class="input-box">
        <label>
          <i class="fa-solid fa-envelope"></i>
          <input type="text" name="Email" id="Email" placeholder="Email">
        </label>
      </div>
      <div class="input-box">
        <label>
          <i class="fa-solid fa-lock"></i>
          <input type="password" name="Password" id="Password" placeholder="Password">
        </label>
      </div>
      <div class="input-box">
        <label>
          <i class="fa-solid fa-lock"></i>
          <input type="password" name="cPassword" placeholder="Confirm Password">
        </label>
      </div>
      <div class="button">
        <input type="submit" class="btn" onclick="register()" value="Sign Up">
      </div>

      <div class="group">
        <span><a href="/forgot">Forgot Password?</a></span>
        <span><a href="/login">Sign In</a></span>
      </div>
    </form>
  </div>
  <div class="popup" id="popup">
    <div><i class="fa-solid fa-check my-3"></i></div>
    <h2 class="mt-5">Thank you!</h2>
    <p>You were registered successfully!</p>
    <a href="#"><button onclick="closeSlide()">Great!</button></a>
  </div>
</div>

<script src="js/register.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>

</html>
